<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/manifest.json">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta name="keywords" content="UTT Arena LAN Party Troyes Jeu Vidéo Festival Cube">
        <meta name="description" content="L'UTT Arena ouvre ses portes le 9, 10 et 11 Décembre. Venez retrouver l'ambiance d'une lan party authentique avec votre équipe!">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UTT Arena 2016</title>
    </head>
    <body class="a-dashboard">
        <nav class="a-mobile-menu">
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--event">Équipe</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--payment">Paiement</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a href="/">Retour au site</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--right">
                <a href="/logout">Déconnexion</a>
            </div>
        </nav>

        <nav class="a-menu a-menu--fixed-top" data-scroll-header>
            <div class="a-menu__item a-menu__item--brand">
                <img class="a-menu__brandicon" src="/img/logo.small.png" height="86" width="100"/>
                <span class="a-font-bignoodle a-font-bignoodle--oblique a-menu__brandname">UA 2016</span>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--team">Équipe</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--payment">Paiement</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a href="/">Retour au site</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--right">
                <a href="/logout">Déconnexion</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--right a-menu__item--right-mobile">Menu &#9776;</div>
        </nav>

        <main id="a-anchor--team" class="a-anchor a-anchor--active">
            <div class="a-page a-page--intro a-page--blue">
                <h2 id="a-anchor--team" class="a-page__title a-page__title--big">Crée ton équipe</h2>
                <h3 class="a-page__title a-page__title--medium">Participez aux spotlights, les compétitions des jeux phares du moment</h3>
                <p>
                    Les spotlights sont des tournois commentés, streamés, et les équipes finalistes remportent des lots. Tous vos sens devront être affutés pour pouvoir survivre à une journée entière de compétition&nbsp;!
                </p>
                <% if (!user.team) { %>
                    <div class="a-dashboard__teams">
                        <div>
                            <h2>Créez votre équipe</h2>
                            <form method="post" action="/createTeam">
                                <div class="a-dashboard__input">
                                    <input type="text" placeholder="Nom de l'équipe" name="createTeamName" id="createTeamName"/>
                                </div>
                                <div class="a-dashboard__input">
                                    <select name="createTeamSpotlight" id="createTeamSpotlight">
                                        <% for (let spotlight of spotlights) { %>
                                            <% if (spotlight.isFull) { %>
                                                <option value="<%= spotlight.id %>" disabled><%= spotlight.name %> (plein)</option>
                                            <% } else { %>
                                                <% if (spotlight.maxInTeam === 1) { %>
                                                    <option value="<%= spotlight.id %>" data-solo="<%= user.name %>"><%= spotlight.name %></option>
                                                <% } else { %>
                                                    <option value="<%= spotlight.id %>"><%= spotlight.name %></option>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="a-dashboard__input">
                                    <input type="submit" class="a-font-bignoodle" value="Créer">
                                </div>
                            </form>
                        </div>
                        <div>
                            <h2>Rejoignez une équipe</h2>
                            <form method="post" action="/joinTeam">
                                <div class="a-dashboard__input">
                                    <select name="joinTeamName" id="joinTeamName">
                                        <% for (let team of teams) { %>
                                            <option value="<%= team.name %>"><%= team.name %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="a-dashboard__input">
                                    <input type="submit" class="a-font-bignoodle" value="Rejoindre">
                                </div>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <div>
                        <table width="100%">
                            <thead>
                                <th>Membre</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <% for (let member of user.team.users) { %>
                                    <tr>
                                        <td>
                                            <%= member.name %>
                                            <% if (user.team.capitainId === member.id) { %>
                                                &#9812;
                                            <% } %>
                                        </td>
                                        <% if (member.accepted && member.paid) { %>
                                            <td>Accepté, payé &#10004;</td>
                                        <% } else if (member.accepted && !member.paid) { %>
                                            <td>Accepté, non payé &#9888;</td>
                                        <% } else if (!member.accepted && member.paid) { %>
                                            <td>
                                                Payé &#10004;
                                                <% if (user.team.capitainId === user.id) { %>
                                                    &nbsp;&nbsp;<button class="a-font-bignoodle" data-allow="<%= member.id %>">Accepter</button>
                                                    &nbsp;&nbsp;<button class="a-font-bignoodle" data-deny="<%= member.id %>">Refuser</button>
                                                <% } else { %>
                                                    , non accepté
                                                <% } %>
                                            </td>
                                        <% } else if (!member.accepted && !member.paid) { %>
                                            <td>
                                                Non payé &#9888;
                                                <% if (user.team.capitainId === user.id) { %>
                                                    &nbsp;&nbsp;<button class="a-font-bignoodle" data-allow="<%= member.id %>">Accepter</button>
                                                    &nbsp;&nbsp;<button class="a-font-bignoodle" data-deny="<%= member.id %>">Refuser</button>
                                                <% } else { %>
                                                    , non accepté
                                                <% } %>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="a-dashboard__payment">
                        <strong>Tous les membres</strong> de l'équipe doivent avoir payé leur place pour valider l'inscription au spotlight.
                    </div>
                <% } %>
                <br/>
                <div class="a-spotlights">
                    <div class="a-spotlights__spotlight a-spotlights__spotlight--lol a-font-bignoodle">
                    </div>
                    <div class="a-spotlights__spotlight a-spotlights__spotlight--overwatch a-font-bignoodle">
                    </div>
                    <div class="a-spotlights__spotlight a-spotlights__spotlight--hearthstone a-font-bignoodle">
                    </div>
                </div>
            </div>
        </main>

        <main id="a-anchor--payment" class="a-anchor">
            <div class="a-page a-page--intro a-page--payment a-page--blue">
                <h2 id="a-anchor--team" class="a-page__title a-page__title--big">Paiement</h2>
                <% if (!user.paid) { %>
                    <h3 class="a-page__title a-page__title--medium">Règle le paiement pour valider ta place pour l'UTT Arena. Tu recevras ta place par e-mail.</h3>
                    <br/>
                    <p>
                    Cette année les tournois sont à l'honneur !<br/>
                    <ul>
                        <li>La place standard permet de s'inscrire à un tournoi officiel : LoL, Overwatch ou Hearthstone</li>
                        <li>La place libre  permet d'accéder à la LAN et d'avoir une place pour pouvoir jouer sans s'inscrire dans les trois tournois principaux. Ces places sont limitées au nombre de 70.</li>
                        <li>La place visiteur permet d'accéder à l'ensemble du Festival des Jeux et de la LAN, et permet de rester à l'UTT Arena et ce même en dehors des horaires d'ouverture du Festival. Ces places sont limitées au nombre de 20 et sont réservées en priorité aux accompagnateurs.</li>
                    </p>
                    <br/>
                    <label for="changeEmail">Confirmation d'e-mail :</label>
                    <input type="email" name="changeEmail" id="changeEmail" value="<%= user.email %>"/>
                    <br/>
                    <br/>
                    <div class="a-items">
                        <div class="a-item a-item--selected" data-item-toggle="15" data-normal data-oneof>Place standard <span class="a-item__price">15€</span></div>
                        <% if (hasOffTournament) { %>
                            <div class="a-item" data-item-toggle="15" data-plusone data-oneof>Place libre<span class="a-item__price">15€</span></div>
                        <% } %>
                        <% if (config.hasVisitor) { %>
                            <div class="a-item" data-item-toggle="6" data-visit data-oneof>Place visiteur (sans table)<span class="a-item__price">6€</span></div>
                        <% } %>
                        <br/>
                        <div class="a-item" data-item-toggle="11" data-shirt>T-Shirt <span class="a-item__selected-size"></span> <span class="a-item__selected-gender"></span><span class="a-item__price">+11€</span></div>
                        <ul class="a-item__genders">
                            <li class="a-item__genders__gender">Femme</li>
                            <li class="a-item__genders__gender a-item__genders__gender--selected" data-default-gender>Homme</li>
                        </ul>
                        <ul class="a-item__sizes">
                            <li class="a-item__sizes__size">XS</li>
                            <li class="a-item__sizes__size">S</li>
                            <li class="a-item__sizes__size a-item__sizes__size--selected" data-default-size>M</li>
                            <li class="a-item__sizes__size">L</li>
                            <li class="a-item__sizes__size">XL</li>
                        </ul>
                        <div class="a-item" data-item-toggle="7" data-ethernet>Câble réseau 5m<span class="a-item__price">+7€</span></div>
                    </div>
                    <button class="a-payment-button">Payer <span class="a-payment-button__price">15€</span></button>
                    <p>
                        Le paiement se fait sur un site sécurisé
                    </p>
                <% } else { %>
                    <p>
                        Paiement effectué ! Une place PDF a été envoyée sur votre mail <%= user.email %>
                    </p>
                <% } %>
            </div>
        </main>

        <script async src="bundle.js"></script>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="/fonts/big_noodle_titling.css">
        <link rel="stylesheet" href="/fonts/muli-regular.css">
    </body>
</html>
